.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  .btn {
    position: absolute;
    left: 0;
  }
}
.popup {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  width: 100%;
}
.updateContainer {
  display: flex;
  justify-content: space-between;
}
.items {
  display: flex;
  flex-direction: column;
  flex: 0.48;
}
.label {
  width: 100%;
}
.sub {
  width: 100%;
}
.textA {
  padding-left: 5px;
}
