.container {
  width: 200px;
  height: 100vh;
  padding-top: 20px;

  background-color: #fff;
  position: fixed;
  top: 0px;
  z-index: 1500;
  right: -200px;
  transition: all 0.4s ease-in-out;
}
.hide {
  right: 0;
}
@media screen and (min-width: 751px) {
  .hide {
    right: -200px;
  }
}
