.container {
  width: 100%;
}
.header {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #b1aeae;
}
.headerItem {
  display: flex;
  align-items: center;
}
.avatar {
  margin: 0 10px;
  width: 42px;
  height: 42px;
  object-fit: cover;
  border-radius: 999px;
}
.chatArea {
  position: fixed;
  bottom: 10px;
  right: 0;
  left: 395px;
  .btnText {
    width: 100px;
    height: 36px;
  }
  .text {
    float: left;
    width: calc(100% - 120px);
    height: 36px;
    padding-left: 10px;
    border-radius: 20px 20px;
    border: 1px solid #c8cbce;
    &:focus {
      outline-color: #8cb8e4;
    }
  }
}
