.container {
  height: calc(100vh - 113px);
  padding-bottom: 20px;
  padding: 20px 40px 0px 40px;
  overflow-y: auto;
  background-color: #f4f5f7;
}
.total {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  .containerItem {
    background-color: #e5efff;
  }
}
.containerItem {
  display: flex;
  // align-items: center;
  margin-top: 10px;
  padding: 10px 10px 10px 0px;
  width: 300px;
  background-color: #ffffff;
  border-radius: 10px 10px;
  p {
    margin-bottom: 0;
    text-align: left;
  }
  p:first-child {
    color: #72808e;
    line-height: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: normal;
  }
  p:last-child {
    color: rgba(0, 0, 0, 0.5);
    line-height: normal;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: normal;
  }
}
.avatarMessage {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 999px;
  margin-left: 10px;
  margin-right: 20px;
}
// .containerItemMe {
//   display: flex;
//   margin-top: 10px;
//   justify-content: flex-end;
// }
// .contentContainer {
//   padding-left: 20px;
//   p {
//     margin-bottom: 0;
//     text-align: left;
//   }
//   p:first-child {
//     color: #88949f;
//   }
//   p:last-child {
//     color: #d6d6d6;
//   }
// }
// .avatarMessage {
//   width: 40px;
//   height: 40px;
//   object-fit: cover;
//   border-radius: 999px;
// }
