.wrapper {
  min-height: 542.375px;
  padding: 68px 190px 40px 190px;
  background-color: #96ccfb;
}
.container {
  display: flex;
  justify-content: flex-start;
}
.item {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: left;
  padding: 0 20px;
  font-size: 15px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  font-family: Helvetica, Arial, san-serif;
  line-height: 2;
  letter-spacing: normal;
  color: #000;
}
.item .Subitem:first-child {
  color: #000;
  font-size: 18px;
  font-weight: 700;
}
.end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 160px;
}
.logoGoverment {
  width: 150px;
}
@media screen and (max-width: 1400px) {
  .wrapper {
    padding: 68px 80px 40px 80px;
  }
  .container {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 750px) {
  .wrapper {
    display: none;
  }
}
